:root {
    --color_green: #04D361;
    --color_blue:  #899bFF;
    --color_red:   #FF3E3E;
    --color_dark:  #0C0C0C;
    --color_dark_200: #212529;
    --color_gray:  #AEAEAE;
    --color_light: #F9F9F9;
    --color_bg:    #1A1A1A;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--color_bg);
    color: var(--color_light);
    font-family: Inter, sans-serif;
    
}

header {
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_logo a {
    text-decoration: none;
    font-size: 26px;
    color: var(--color_light);
}

.btn {
    width: 160px;
    height: 50px;
    border: 0px;
    cursor: pointer;
    transition: all ease .5s;
    font-weight: 600;

} 

.btn_comprar {
    background-color: transparent; 
    border: 2px solid var(--color_blue);
    color: var(--color_light);   
}

main {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section_content {
    width: 600px;
    height: auto;
}

.section_content h2 {
    font-family: Sora, sans-serif;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
}

.section_content h3 {
    font-size: 24px;
    text-align: center;
    color: var(--color_blue);
    margin-top: 10px;
}

.section_content p {
    font-size: 18px;
    line-height: 22px;
    color: var(--color_gray);
    margin-top: 30px;
}

form {
    width: 600px;
    height: auto;
    margin-top: 10px;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input {
    height: 50px;
    border-radius: 4px;
    background-color: var(--color_dark);
    border: 1px solid var(--color_dark_200);
    color: var(--color_light);
    font-size: 28px;
    padding-inline: 10px;
}

label {
    font-size: 18px;
    line-height: 28px;
    color: var(--color_gray);
    padding: 2px;
}

.btn_enviar {
    background-color: var(--color_blue);
    color: var(--color_dark);
    border-radius: 4px;
    font-size: 24px;
    width: 100%;
}

footer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HOVER */
.btn_comprar:hover {
    background-color: var(--color_blue);
    color: var(--color_light);
}
.btn_enviar:hover {
    background-color: var(--color_green);
}

/* MODAL */

.modal_enviar {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #0C0C0C50;
}

.modal_content {
    width: 800px;
    height: 300px;
    background-color: var(--color_dark);
    border: 1px solid var(--color_dark);
    border-radius: 4px;
    color: var(--color_light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal_content p {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 20px;
}

.btn_fechar {
    font-size: 24px;
    font-weight: bold;
    width: 600px;
    background-color: var(--color_green);
}

.sucesso {
    color: var(--color_green);
}

.erro {
    color: var(--color_red)
}

.bg_sucesso {
    background-color: var(--color_green);
}

.bg_erro{
    background-color: var(--color_red);
}

.erro_nome, .erro_email {
    line-height: 30px;
}


@media (max-width: 768px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }
    .header {
        width: 100%;
    }  

    .section_content {
        width: 100vw;
        padding-inline: 20px;
    }

    form {
        width: 100%;
    }

    footer {
        width: 100%;
        font-size: 16px;
        padding-inline: 15px;
        text-align: center;
    }

    .modal_content {
        width: 90%;
    }

    .btn_fechar {
        width: 90%;
    }
}

@media (max-width: 480px) {
   .header_logo a {
        font-size: 30px;
   }

   .section_content h2 {
        font-size: 32px;
   }
   .section_content h3 {
        font-size: 22px;
   }
   .section_content p {
        font-size: 20px;
   }

   footer {
    font-size: 12px;
   }

   .modal_content {
    width: 100%;
    height: 100%;
    }

    .modal_content p {
    font-size: 24px;
    }
}

@media (max-width: 340px) {
   .btn_comprar {
    width: 160px;
   }

   .texto {
    display: none;
   }
  
   .section_content h2 {
    font-size: 20px;
   }
   .section_content h3 {
    display: none;
   }
   .section_content p{
    font-size: 16px;
    line-height: 26px;
   }

   .modal_content p {
    font-size: 18px;
    }
   
}